header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* Adicionado */
  margin: auto; /* Adicionado */
  width: 100%;
  background-color: #3498DB;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  margin-right: 20px;
}

.categorias {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.categorias ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.categorias li {
  margin-right: 20px;
}

.categorias a {
  color: #fff;
  text-decoration: none;
}

.categorias a:hover {
  color: #ccc;
}

.loginCadastro {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 20px;
}

.loginCadastro ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.loginCadastro li {
  margin-right: 20px;
}

.loginCadastro a {
  color: #fff;
  text-decoration: none;
}

.loginCadastro a:hover {
  color: #ccc;
}

.cart {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 20px;
}

.cart a {
  color: #fff;
  text-decoration: none;
}

.cart a:hover {
  color: #ccc;
}

.cart span {
  font-size: 18px;
  margin-left: 10px;
}